# Ignore files
*.swp
*.pyc
.DS_Store
db.sqlite3
.vscode
.coverage
*.code-workspace
dump.rdb

# environment folder
venv/

# Folder for static files
django_app/staticfiles/*

# Temporary products
django_app/tmp/tmp*

# certbot volume
certbot/
