argh==0.31.3
backports.tarfile==1.2.0
celery==5.6.3
coverage==7.16.2
django==6.1.1
future==1.0.0
importlib-metadata==9.0.1
inflect==7.5.0
jaraco.collections==5.2.1
packaging==26.3
pip-chill==1.0.5
pylint==4.0.9
pypdf==6.19.0
pysocks==1.7.1
redis==8.1.0
selenium==4.49.0
tblib==3.2.2
tomli==2.4.1
uwsgi==2.0.31
wand==0.7.2
watchdog==6.0.0
whitenoise==6.12.0
