
.input_error {
    visibility: hidden;
    vertical-align: middle;
    color: red;
    font-size: small;
}

.label {
    text-align: right;
}

h1 {
    text-align: center;
}

#id_wont_fit {
    color: red;
}

.top-row {
    margin-top: 50px;
}