
.input_error {
    visibility: hidden;
    vertical-align: middle;
    color: red;
    font-size: small;
}

.form-control-label {
    text-align: right;
    font-weight: bold;
}

.toggle {
    white-space: nowrap;
}

h1 {
    text-align: center;
}

#id_wont_fit {
    color: red;
}

.top-row {
    margin-top: 50px;
}

.icon {
    padding: 1px 6px;
}

button > * {
    pointer-events: none;
}

button {
    width:100%;
    display:block;
  }