<html>

<head>
    {% load static %}

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{% static 'tuckbox/favicon.svg' %}">
    <link rel="alternate icon" href="{% static 'tuckbox/favicon.png' %}">

    <!-- Title -->
    <title>About</title>

    <!-- Add some style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<div class="container-fluid">

<h1>About</h1>
<p>Hello there. First, welcome to this page (and this small website).</p>
<p><a href="https://boardgamegeek.com/user/mjeanson" target="_blank" rel="noopener">I like to play games</a> and like to
    make the experience as good as possible for the games I enjoy most, sometimes through some small craft. I had the
    idea of building this tool quite some time ago but it took 2020 and sheltering-in-place for the Coronavirus pandemic
    to actually take the time to do it.</p>
<p>I hope this is helpful to you. If you would like to report any issue, or suggest any feature, please head to the
    project's <a href="https://github.com/MatthieuLJ/bg_upgrades/issues" target="_blank" rel="noopener">Github page</a>
    and file an issue (or comment on an existing one)</p>
<p>Thank you!</p>

</div>

</body>

</html>