<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- cookie plugin -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <!-- Include Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Include Bootstrap toggle -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <!-- Three JS -->
    <script src="https://threejs.org/build/three.min.js"></script>
    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>

    <!-- Include our own CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tuckbox/style.css' %}">
    <script src="{% static 'tuckbox/3d-box.js' %}"></script>

    <script type="text/javascript">
        'use strict';

        // Some constants for paper sizes:
        const paper_a4 = {
            "width": 210,
            "height": 297
        };

        const paper_a3 = {
            "width": 297,
            "height": 420
        };

        const paper_letter = {
            "width": 216,
            "height": 279
        };

        const paper_legal = {
            "width": 216,
            "height": 356
        };

        function check_pattern_fit() {
            let data = {
                "tuckbox": {
                    "width": parseInt($('#id_width').val()),
                    "height": parseInt($('#id_height').val()),
                    "depth": parseInt($('#id_depth').val())
                },
                "paper": {
                    "width": parseInt($("#id_paper_width").val()),
                    "height": parseInt($("#id_paper_height").val())
                }
            };

            $.post('check_fit', JSON.stringify(data), check_fit_response).fail(check_fit_response);
        }

        function check_fit_response(data, status) {
            if (status != "success") {
                $("#id_wont_fit").css('display', '');
                $("#id_submit").prop('disabled', true);
            } else {
                $("#id_wont_fit").css('display', 'none');
                $("#id_submit").prop('disabled', false);
            }
        }

        function check_for_preview() {
            let fields_to_check = [$("#id_height"), $("#id_width"), $("#id_depth")];
            if ($("#id_paper_size").val() == "Custom") {
                fields_to_check.concat([$("#id_paper_height"), $("#id_paper_width")]);
            }
            let valid = true;
            fields_to_check.forEach(function (field) {
                if (field.val() == "" || isNaN(field.val()) || field.val() < 0) {
                    valid = false;
                }
            });

            if (valid) {
                // show a 3D model
                generate_preview();

                // check if the pattern will fit on paper
                check_pattern_fit();
            } else {
                $("#image_preview").empty();
                $("#id_wont_fit").css('display', 'none');
                $("#id_submit").prop('disabled', true);
            }
        }

        function check_number(field) {
            if (field.value != "" && (isNaN(field.value) || (field.value < 0))) {
                $(field).css('color', 'red');
            } else {
                $(field).css('color', 'black');
                
                // check if all other dimension fields have valid data
                check_for_preview();
            }
        }

        function generate_preview() {
            let data = {};
            data.tuckbox = {};
            ["width", "height", "depth"].forEach(dim => {
                data.tuckbox[dim] = parseInt($("#id_" + dim).val())
            });

            draw_3d_box($("#image_preview"), data);
        }

        // Entry function when the page is loaded
        $(function () {
            // For all the elements with the "tuck_input_num" class
            // hook the check number function with the error label also
            $(".tuck_input_num").change(function () { check_number(this) });

            // Hide the entries for custom paper sizes and set them to appear
            // on that specific selection
            $("#id_wont_fit").css('display', 'none');

            // Initialize all tooltips
            $('[data-toggle="tooltip"]').tooltip();

            $("#id_paper_size").change(function () {
                if (this.value == "Custom") {
                    $(".paper_custom").css('display', '');
                } else {
                    $(".paper_custom").css('display', 'none');
                    switch (this.value) {
                        case "Letter":
                            $("#id_paper_height").val(paper_letter.height);
                            $("#id_paper_width").val(paper_letter.width);
                            break;
                        case "Legal":
                            $("#id_paper_height").val(paper_legal.height);
                            $("#id_paper_width").val(paper_legal.width);
                            break;
                        case "A4":
                            $("#id_paper_height").val(paper_a4.height);
                            $("#id_paper_width").val(paper_a4.width);
                            break;
                        case "A3":
                            $("#id_paper_height").val(paper_a3.height);
                            $("#id_paper_width").val(paper_a3.width);
                            break;
                    }
                }
                check_for_preview();
            }).trigger("change");

            $.ajaxSetup({
                headers: { "X-CSRFToken": Cookies.get("csrftoken") }
            });

            ["front", "back", "left", "right", "top", "bottom"].forEach(function (face, index) {
                $("#id_" + face).change(function () {
                    let file = $(this)[0].files[0];

                    if (file && file.type.split("/")[0] == "image") {
                        load_face_image(file, index + 1);
                    }
                    $(this).next().html(file.name);
                });
                $("#id_rotate_" + face).click(function () {
                    $("#id_" + face + "_angle").val((index, currentValue) => { return (parseInt(currentValue) + 1) % 4; });
                    rotate_face_image($("#id_" + face + "_angle").val(), index + 1)
                    $("#id_" + face).trigger("change");
                });
            }
            );
        });
    </script>
</head>

<body>
    <h1>Build a tuckbox</h1>

    <form action="{% url 'pattern' %}" method="post" target="_blank" class="form-horizontal"
        enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group row top-row">
            <label class="form-control-label col-4 align-self-center"> Paper size: </label>
            <div class="col-6">
                <select id="id_paper_size" class="form-control" name="paper_size">
                    <option value="A4">A4</option>
                    <option value="A3">A3</option>
                    <option value="Letter">Letter</option>
                    <option value="Legal">Legal</option>
                    <option value="Custom">Custom</option>
                </select>
            </div>
        </div>
        <div class="form-group row paper_custom">
            <label class="form-control-label col-4 align-self-center"> Paper Height (mm): </label>
            <div class="col-6">
                <input type="text" name="paper_height" id="id_paper_height" class="tuck_input_num form-control">
            </div>
        </div>
        <div class="form-group row paper_custom">
            <label class="form-control-label col-4 align-self-center"> Paper Width (mm): </label>
            <div class="col-6">
                <input type="text" name="paper_width" id="id_paper_width" class="tuck_input_num form-control">
            </div>
        </div>

        {% with dimensions='height width depth' %}
            {% for dim in dimensions.split %}
                <div class="form-group row">
                  <label class="form-control-label col-4 align-self-center" for="id_{{ dim }}"> Tuckbox {{ dim|title }} (mm): </label>
                  <div class="col-6">
                      <input type="text" name="{{ dim }}" id="id_{{ dim }}" class="tuck_input_num form-control">
                    </div>
               </div>
            {% endfor %}
        {% endwith %}

        <div class="form-group row" style="display:none">
            <label class="form-control-label col-4 align-self-center"> Openings: </label>
            <div class="col-4">
                <input type="checkbox" data-toggle="toggle" data-on="Both ends" data-off="One end">
            </div>
        </div>

        <div class="form-group row">
            <div id="image_preview" class="col-4 offset-4">
            </div>
        </div>

        {% with faces='front back left right top bottom' %}
            {% for face in faces.split %}
                <div class="form-group row image-files">
                    <label class="form-control-label col-4 align-self-center"> {{ face|title }} image: </label>
                    <div class="custom-file col-3">
                        <input type="file" name="{{ face }}" id="id_{{ face }}" class="custom-file-input">
                        <label class="custom-file-label" for="id_{{ face }}">Pick an image file...</label>
                    </div>
                    <div class="col-1">
                        <button type="button" name="rotate_{{ face }}" id="id_rotate_{{ face }}"
                            class="form-control btn img-rounded">&#10227;</button>
                        <input type="hidden" name="{{ face }}_angle" id="id_{{ face }}_angle" value="0" />
                    </div>
                    <div class="col-2">
                        <input id="id_{{ face }}_smart_rescale" name="{{ face }}_smart_rescale" type="checkbox"
                            data-toggle="toggle" data-on="Smart resizing" data-off="Regular resizing"  style="display: inline-block;">
                        <div class="align-self-center"  style="display: inline-block;">
                            <svg class="bi bi-info-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="tooltip" data-placement="top" title="Smart resizing will generally produce better looking images, but may not keep proportions or alignement with the different faces">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endwith %}

        <div class="form-group row">
            <label class="form-control-label col-4 align-self-center"> Folding guides: </label>
            <div class="col-4">
                <input type="checkbox" name="folding_guides" id="id_folding_guides" data-toggle="toggle" data-on="On" data-off="Off">
            </div>
        </div>

        <div id="id_wont_fit" class="form-group row">
            <div class="col-4 offset-4">
                The pattern is too large
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 offset-4">
                <input type="submit" id="id_submit" value="Generate PDF" class="form-control">
            </div>
        </div>
    </form>
</body>