<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tuckbox/style.css' %}">

    <script type="text/javascript">
function check_number(field, error_label) {
    if(field.value != "" && (isNaN(field.value) || (field.value < 0))) {
        error_label.style.visibility="visible";
    } else {
        error_label.style.visibility="hidden";
    }
}
    </script>
</head>

<body>

<h1>Enter the dimensions for your box</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="container">
    <form action="{% url 'pattern' %}" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="label col-md">
                Height (mm):
            </div>
            <div class="col-md">
                <input type="text" name="height" id="id_height" oninput="check_number(this, height_error_id)">
            </div>
            <div id="height_error_id" class="input_error col-sm">
                This needs to be a valid number
            </div>
        </div>
        <div class="row">
            <div class="label col-md">
                Width (mm):
            </div>
            <div class="col-md">
                <input type="text" name="width" id="id_width" oninput="check_number(this, width_error_id)">
            </div>
            <div id="width_error_id" class="input_error col-sm">
                This needs to be a valid number
            </div>
        </div>
        <div class="row">
            <div class="label col-md">
                Depth (mm):
            </div>
            <div class="col-md">
                <input type="text" name="depth" id="id_depth" oninput="check_number(this, depth_error_id)">
            </div>
            <div id="depth_error_id" class="input_error col-sm">
                This needs to be a valid number
            </div>
        </div>
        <div class="row">
            <input type="submit" value="send">
        </div>
    </form>
</div>
</body>
