<head>
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- cookie plugin -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Include Bootstrap toggle -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- Include our own CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tuckbox/style.css' %}">


    <script type="text/javascript">

// Some constants for paper sizes:
var paper_a4 = {
    "width" : 210,
    "height" : 297
};

var paper_a3 = {
    "width" : 297,
    "height" : 420
};

var paper_letter = {
    "width" : 216,
    "height" : 279
};

var paper_legal = {
    "width" : 216,
    "height" : 356
};


function check_number(field) {
    if(field.value != "" && (isNaN(field.value) || (field.value < 0))) {
        $(field).css('color','red');
    } else {
        $(field).css('color','black');
    }
}

// Entry function when the page is loaded
$(function() {
    // For all the elements with the "tuck_input_num" class
    // hook the check number function with the error label also
    $(".tuck_input_num").change(function() {check_number(this)});

    // Hide the entries for custom paper sizes and set them to appear
    // on that specific selection
    $(".paper_custom").css('display', 'none');
    $("#paper-size").change(function() {
        if (this.value == "Custom") {
            $(".paper_custom").css('display', '');
        } else {
            $(".paper_custom").css('display', 'none');
        }
    });

    $.ajaxSetup({
        headers: { "X-CSRFToken": Cookies.get("csrftoken") }
    });

    $("#id_preview").click(function() {
        var data = {
            "paper" : {
                "width" : 100,
                "height": 100 },
                "tuckbox" : {
                    "width" : parseInt($('#id_width').val()),
                    "height" : parseInt($('#id_height').val()),
                    "depth" : parseInt($('#id_depth').val()) }
        };
        console.log(data);
        $.post('preview', JSON.stringify(data), show_preview);
    });

    function show_preview(data, status) {
        console.log("updating preview, status="+status)
        $('#image_preview').html('<img src="data:image/png;base64,' + data + '" class="img-thumbnail img-responsive" />');

    }
});
    </script>
</head>

<body>

<h1>Enter the dimensions for your box</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'pattern' %}" method="post" target="_blank" class="form-horizontal">
    {% csrf_token %}

    <div class="form-group row">
        <label class="control-label col-sm-4"> Paper size: </label>
        <div class="col-sm-6">
            <select id="paper-size" class="form-control" name="paper size">
                <option value="A4">A4</option>
                <option value="A3">A3</option>
                <option value="Letter">Letter</option>
                <option value="Legal">Legal</option>
                <option value="Custom">Custom</option>
            </select>
        </div>
    </div>
    <div class="form-group row paper_custom">
        <label class="control-label col-sm-4"> Paper Height (mm): </label>
        <div class="col-sm-6">
            <input type="text" name="paper_height" id="id_paper_height" class="tuck_input_num form-control">
        </div>
    </div>
    <div class="form-group row paper_custom">
        <label class="control-label col-sm-4"> Paper Width (mm): </label>
        <div class="col-sm-6">
            <input type="text" name="paper_width" id="id_paper_width" class="tuck_input_num form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-4"> Height (mm): </label>
        <div class="col-sm-6">
            <input type="text" name="height" id="id_height" class="tuck_input_num form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-4"> Width (mm): </label>
        <div class="col-sm-6">
            <input type="text" name="width" id="id_width" class="tuck_input_num form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-4"> Depth (mm): </label>
        <div class="col-sm-6">
            <input type="text" name="depth" id="id_depth" class="tuck_input_num form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-4"> Openings: </label>
        <div class="col-sm-4">
            <input type="checkbox" data-toggle="toggle" data-on="Both ends" data-off="One end">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 col-sm-offset-4">
            <button type="button" id="id_preview" class="form-control" value="preview">Show preview</button>
        </div>
        <div id="image_preview" class="col-sm-6">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 col-sm-offset-4">
            <input type="submit" value="send" class="form-control">
        </div>
    </div>
</form>
</body>
