<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

    <script type="text/javascript">
function check_number(field, error_label) {
    if(field.value != "" && isNaN(field.value)) {
        error_label.style.display="inline";
    } else {
        error_label.style.display="none";
    }
}
    </script>
</head>

<body>

<h1>Enter the dimensions for your box</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'pattern' %}" method="post">
{% csrf_token %}

Height (mm):<input type="text" name="height" id="height_id" oninput="check_number(this, height_error_id)">
<span id="height_error_id" class="input_error">This needs to be a number</span><br>
Width (mm):<input type="text" name="width" id="width_id">
<span id="width_error_id" class="input_error">This needs to be a number</span><br>
Depth (mm):<input type="text" name="depth" id="depth_id">
<span id="depth_error_id" class="input_error">This needs to be a number</span><br>

<input type="submit" value="send">
</form>
</body>
